body{
margin:0;
font-family:Tahoma, Arial;
background:#000;
color:#fff;
}

nav{
background:#0a0a0a;
padding:20px;
display:flex;
justify-content:space-between;
align-items:center;
border-bottom:2px solid #990000;
}

nav a{
color:#fff;
text-decoration:none;
margin-left:20px;
transition:0.3s;
}

nav a:hover{
color:#ff0000;
}

.logo{
font-size:24px;
font-weight:bold;
color:#ff0000;
}

.hero{
height:90vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
background:linear-gradient(black, #1a0000);
}

h1{
font-size:50px;
color:#ff0000;
}

.btn{
background:#ff0000;
color:#fff;
padding:15px 30px;
border:none;
cursor:pointer;
margin-top:20px;
transition:0.3s;
}

.btn:hover{
background:#990000;
}

.section{
padding:80px 20px;
text-align:center;
max-width:900px;
margin:auto;
}

.footer{
background:#0a0a0a;
padding:20px;
text-align:center;
border-top:1px solid #990000;
margin-top:50px;
}
